<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rodrigo Souza - Soluções TI</title>
    <link rel="icon" href="">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/estilo.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse navbar-transparente">
    <div class="container">
        <!-- header -->
        <div class="navbar-header">

            <!-- botao toggle -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-navegacao">
                <span class="sr-only">Alternar navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand">
                <span class="logo">Rodrigo Souza</span>
            </a>
        </div><!-- /fim header-->

        <!-- navbar -->
        <div class="collapse navbar-collapse" id="barra-navegacao">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a> </li>
                <li><a href="portifolio">Portifólio</a> </li>
                <li><a href="contato">Contato</a> </li>
            </ul>
        </div>
    </div><!-- /container-->
</nav><!-- /nav-->

<!-- Conteúdos -->
<section id="perfil">
    <div class="container">
        <div class="row conteudo-perfil">
            <div class="col-md-4">
                <img src="imagens/eu.jpg" class="img-responsive img-center img-perfil"/>
            </div>
            <div class="col-md-8">
                <h2>Quem Sou?</h2>
                <p>Brasileiro, solteiro, 24 anos, nível superior, cursando análise e desenvolvimento de sistemas e ciência da computação,
                    possuo qualidades como, agilidade, pró atividade, disciplina, comunicabilidade, paciência, otimismo e a vontade de sempre aprender algo novo.
                    Procuro crescimento pessoal e profissional em tecnologia da informação, buscando sempre absorver novos conhecimentos,
                    aprendizagens e conseguir colocar em prática todas as coisas que aprendi ao longo do tempo.</p>
                <p>Estou buscando sempre aumentar os meus conhecimentos, me atualizar e ir em busca do que há de mais novo, podendo assim me manter antenado e atualizado sobre tudo o que esta acontecendo no mundo da tecnologia da informação.</p>
            </div>
        </div>
    </div>
</section>
<section id="formacao">
    <div class="container">
        <div class="row conteudo">
            <div class="col-md-4">
                <img src="imagens/estudo.jpg" class="img-responsive img-center img-section"/>
            </div>
            <div class="col-md-8">
                <h2>Formação</h2>
                <p><h4>Análise e desenvolvimento de sistemas</h4>Técnologo | 02/2014 - 02/2017</p>
                <p>O curso tem como objetivo formar profissionais capazes de atuar nas áreas de serviços, industrial, comercial e acadêmica,
                    podendo trabalhar no âmbito do ensino, da pesquisa, da prestação de serviços e do desenvolvimento científico e tecnológico em âmbito nacional e internacional.</p>
                <hr>
                <p><h4>Ciências da computação</h4>Bacharel | 01/2016 - 02/2020</p>
                <p>O curso tem como objetivo formar profissionais capazes de atuar nas áreas de serviços, industrial, comercial e acadêmica,
                    podendo trabalhar no âmbito do ensino, da pesquisa, da prestação de serviços e do desenvolvimento científico e tecnológico em âmbito nacional e internacional.</p>
                <hr>
                <h4>Habilidades</h4><br/>
                <p><ul>
                <li><span class="negrito">Análise de requisitos</span></li>
                <li><span class="negrito">Análise de sistemas</span></li>
                <li><span class="negrito">Engenharia de Software</span></li>
                <li><a class="cert" href="https://cursos.alura.com.br/career/certificate/1f4df90f-0a5c-4b4e-9eb1-9e489bcb0322" target="_blank">DESENVOLVEDOR FULLSTACK MEAN</a></li>
                <li class="negrito">Desenvolvedor C#
                    <ul>
                        <li><a class="cert" href="https://cursos.alura.com.br/certificate/8c79879f-63e9-4af5-bc4a-6ec927c076a6" target="_blank">C# I: FUNDAMENTOS DA LINGUAGEM</a></li>
                        <li><a class="cert" href="https://cursos.alura.com.br/certificate/4e9f2d1f-9d1d-486a-8361-8463e463999c" target="_blank">C# II: ORIENTAÇÃO A OBJETOS</a></li>
                        <li><a class="cert" href="https://cursos.alura.com.br/certificate/daa422f5-166a-4045-bd04-6de26ba571de" target="_blank">C# III: TÓPICOS AVANÇADOS</a></li>
                    </ul></li>
                <li class="negrito">Desenvolvedor JAVA
                    <ul>
                        <li><a class="cert" href="https://cursos.alura.com.br/certificate/fa497f16-5189-4783-a0c0-020f4502d72d" target="_blank">JAVA I: PRIMEIROS PASSOS</a></li>
                        <li><a class="cert" href="https://cursos.alura.com.br/certificate/c1dd6d91-369b-4c56-9545-d51179a96792" target="_blank">JAVA II: ORIENTAÇÃO A OBJETOS</a></li>
                        <li><a class="cert" href="https://cursos.alura.com.br/certificate/edbf90b2-2cd9-4644-aa75-7257dea010aa" target="_blank">JAVA III: PRINCIPAIS APIS E BIBLIOTECAS</a></li>
                    </ul></li>
                <li><a class="cert" href="https://cursos.alura.com.br/certificate/55b8c366-0bea-4cda-823f-e052264f48fb" target="_blank">PHP: FUNDAMENTOS PARA CRIAR UM SISTEMA NA WEB</a></li>
                <li><a class="cert" href="https://cursos.alura.com.br/certificate/5830e424-56ac-4699-8a04-407d01c3bee4" target="_blank">MYSQL</a></li>
            </ul></p>
            </div>
        </div>
    </div>
</section>
<section id="experiencia">
    <div class="container">
        <div class="row conteudo">
            <div class="col-md-4">
                <img src="imagens/experiencia.jpg" class="img-responsive img-center img-section"/>
            </div>
            <div class="col-md-8">
                <h2>Experiência</h2>
                <p><h4>Millenium</h4>Analista de Sistemas Jr. | 01/2017 - 03/2017</p>
                <p>Contratado pela empresa Millenium em contrato temporário para auxiliar na produção da empresa Caixa Seguradora, com as seguintes atribuições:
                <ul>
                    <li>Especificar e acompanhar o desenvolvimento de projetos.</li>
                    <li>Especificar rotinas e funcionalidades sistêmicas.</li>
                    <li>Centralizar a interlocução com os gestores das unidades de informática da empresa.</li>
                    <li>Homologar manutenções corretivas e evolutivas de sistemas, antes de enviar para homologação na gerência solicitante.</li>
                    <li>Definir prioridades das demandas de TI em conjunto com as áreas envolvidas.</li>
                    <li>Buscar soluções tempestivamente para os incidentes ocorridos nas rotinas dos sistemas a fim de mitigar seus impactos.</li>
                </ul> </p>
                <hr>
                <p><h4>Caixa Seguradora</h4>Estagiário | 05/2015 - 01/2017</p>
                <p>Contratado a partir de um contrato para auxiliar nas atribuições da empresa Caixa Seguradora, com as seguintes atribuições:
                <ul>
                    <li>Especificar rotinas e funcionalidades sistêmicas.</li>
                    <li>Centralizar a interlocução com os gestores das unidades de informática da empresa.</li>
                    <li>Homologar manutenções corretivas e evolutivas de sistemas, antes de enviar para homologação na gerência solicitante.</li>
                    <li>Definir prioridades das demandas de TI em conjunto com as áreas envolvidas.</li>
                    <li>Buscar soluções tempestivamente para os incidentes ocorridos nas rotinas dos sistemas a fim de mitigar seus impactos.</li>
                </ul></p>
            </div>
        </div>
    </div>
</section>


<!-- Rodapé -->
<footer id="rodape">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="copy"> &copy; Todos os direitos reservados</p>
            </div>
            <div class="col-md-4">
                <h4 class="menu">Menu</h4>
                <nav class="nav flex-column">
                    <li><a href="/">Home</a></li>
                    <li><a href="portifolio.ejs">Portifólio</a></li>
                    <li><a href="contato.ejs">Contato</a></li>
                </nav>
            </div>
            <div class="col-md-4">
                <h4 class="sociais">Me acompanhe nas redes sociais</h4>
                <ul class="nav">
                    <li><a href="https://www.facebook.com/rodrigo.souza.501151" class="item-rede-social" target="_blank"><img src="imagens/facebook.png"/></a></li>
                    <li><a href="https://twitter.com/RodriigoASouza" class="item-rede-social" target="_blank"><img src="imagens/twitter.png"/></a></li>
                    <li><a href="https://www.instagram.com/rodrigoassouza" class="item-rede-social" target="_blank"><img src="imagens/instagram.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>